body,h1,p{
    margin: 0;
}

.nav{
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 4px 4px -4px rgb(133, 133, 133);
}

.logo{
    
}

.logo > img{
    width: 103px;
}

.serch_input{
    position: relative;
}

.serch_text {
    width: 268px;
    height: 35px;
    background: gainsboro;
    border: none;
}

.serch_text::placeholder{
    padding-left: 30px;
}

input:focus::placeholder{
    padding-left: 0px;
}

.serch_text:focus {
    padding-left: 20px;
    outline: none;
}

.mag{
    position: absolute;
    left: 20px;
    padding-right: 20px;
}

.menu_icon{
    /* background: gainsboro; */
}
.content{
    z-index: 10;
}

.feed_content{
    background: gainsboro;
    height: 2000px;
}

.member_info{
    background: gainsboro;
    height: 500px;
}

.profile_img > img{
    width: 23px;
    height: 23px;
    border-radius: 50%;

}

@media (max-width: 768px) {
    #serch_input{
        display: none;
    }
}